MYSQL_ROOT_PASSWORD=change_me_root_password
MYSQL_DATABASE=central_bank_core
MYSQL_USER=central_bank
MYSQL_PASSWORD=change_me_db_password
MYSQL_PORT=3301
POS_DB_PASSWORD=change_me_pos_db_password
MARKETPLACE_DB_PASSWORD=change_me_marketplace_db_password
UMKM_DB_PASSWORD=change_me_umkm_db_password
SUPPLIERHUB_DB_PASSWORD=change_me_supplierhub_db_password
LOGISTIKA_DB_PASSWORD=change_me_logistika_db_password
INTEGRATOR_DB_PASSWORD=change_me_integrator_db_password

JWT_SECRET=change_me_shared_jwt_secret_min_32_chars
SERVICE_TOKEN=change_me_shared_service_token_min_32_chars
CONNECTOR_ADMIN_KEY=change_me_connector_admin_key_min_32_chars
CONNECTOR_AUDIT_HMAC_SECRET=change_me_connector_audit_hmac_secret_min_32_chars
SMARTBANK_WARUNGPOS_API_KEY=change_me_pos_connector_api_key
SMARTBANK_MARKETPLACE_API_KEY=change_me_marketplace_connector_api_key
SMARTBANK_SUPPLIERHUB_API_KEY=change_me_supplierhub_connector_api_key
POS_SESSION_SECRET=change_me_pos_session_secret_min_32_chars
SUPPLIERHUB_JWT_SECRET=change_me_supplierhub_jwt_secret_min_32_chars
API_INTEGRATOR_SECRET_KEY=change_me_api_integrator_secret_min_32_chars

CORS_ALLOWED_ORIGINS=http://localhost:3001,http://localhost:3002,http://localhost:5173,http://localhost:8080,http://localhost:3006,http://localhost:3007,http://localhost:4004,http://localhost:4005
NEXT_PUBLIC_API_BASE_URL=http://localhost:4000
CENTRAL_BANK_UI_API_BASE_URL=http://localhost:3000/api/v1
POS_DB_NAME=warungpos
MARKETPLACE_DB_NAME=pasarkita
SMARTBANK_POS_SELLER_EXTERNAL_ID=pos-merchant-main
SMARTBANK_MARKETPLACE_EXTERNAL_ID=marketplace-merchant-main
SMARTBANK_SUPPLIERHUB_SELLER_EXTERNAL_ID=supplierhub-merchant-main
SMARTBANK_CONNECTOR_TIMEOUT_MS=10000

UMKM_INSIGHT_SMARTBANK_KEY=change_me_umkm_smartbank_key
UMKM_INSIGHT_WARUNGPOS_KEY=change_me_umkm_warungpos_key
UMKM_INSIGHT_MARKETPLACE_KEY=change_me_umkm_marketplace_key
UMKM_INSIGHT_SUPPLIERHUB_KEY=change_me_umkm_supplierhub_key
UMKM_INSIGHT_EVENT_HMAC_SECRET=change_me_umkm_event_hmac_secret_min_32_chars
INTEGRATION_WEBHOOK_SECRET=change_me_integration_webhook_secret_min_32_chars
LOGISTIKA_API_KEY=change_me_logistika_api_key_min_32_chars
