# Copy ke .env untuk development lokal API-Integrator.

SECRET_KEY=change-me
ALGORITHM=HS256
APP_NAME=API Gateway / Integrator UMKM
CORS_ORIGINS=*

# Database API-Integrator
DB_HOST=api-integrator-mysql
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=TugasGateaway

# Jangan isi data demo kecuali memang butuh simulasi.
SEED_DEMO_DATA=false

# Base URL service ekosistem.
# Di Docker gunakan nama service; di luar Docker gunakan localhost sesuai Setting PORT.txt.
SMARTBANK_BASE_URL=http://smartbank-gateway:4000
MARKETPLACE_BASE_URL=http://localhost:4002
POS_BASE_URL=http://localhost:4003
SUPPLIERHUB_BASE_URL=http://localhost:4004
LOGISTIKITA_BASE_URL=http://localhost:4005
UMKM_INSIGHT_BASE_URL=http://umkm-insight

# Mirror/failover opsional.
SMARTBANK_MIRROR_URL=
MARKETPLACE_MIRROR_URL=
POS_MIRROR_URL=
SUPPLIERHUB_MIRROR_URL=
LOGISTIKITA_MIRROR_URL=
UMKM_INSIGHT_MIRROR_URL=

# API key opsional untuk dikirim sebagai header X-API-Key.
SMARTBANK_API_KEY=
MARKETPLACE_API_KEY=
POS_API_KEY=
SUPPLIERHUB_API_KEY=
LOGISTIKITA_API_KEY=
UMKM_INSIGHT_API_KEY=
